@use '@/styles' as *;

.profile-box {
  display: flex;
  gap: 16px;

  &-img {
    width: 128px;
    height: 128px;
    border-radius: 100px;
  }
}

.contents-box {
  display: flex;
  flex-direction: column;
  justify-content: center;

  h2 {
    @include heading-sm-b;
  }

  p {
    @include body-sm-m;
    color: var(--color-desc-color);
    white-space: pre-line;
  }
}
