@use '@/styles' as *;

.login {
  &-form {
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 50px;
    gap: 20px;

    h1 {
      text-align: center;
      @include body-lg-b;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 10px;

    @include caption-lg-b;

    input {
      padding: 10px;
      border-radius: 10px;
      background-color: var(--color-line-gray);
    }
  }

  &__description {
    @include caption-sm-m;
    color: darkgray;
    text-decoration: underline;
  }

  &__btn--submit {
    cursor: pointer;
    @include caption-lg-b;
    width: 100%;
    border-radius: 10px;
    color: var(--color-white);
    padding: 10px;
    background-color: var(--color-desc-color);
  }
}
