$colors: (
  white: #ffffff,
  black: #171212,
  brand: #e51a5c,
  line-gray: #e5e8eb,
  background-gray: #f5f0f2,
  desc-color: #876370,
);

$theme: (
  brand: (
    lighter: #ffecf1,
    light: #ffd2de,
    default: #e51a5c,
    dark: #d6145a,
    darker: #830a36,
  ),
);
