@use '@/styles' as *;

$header-height: 65px;
$header-padding: 0 40px;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $header-padding;
  height: $header-height;
  border-bottom: 1px solid var(--color-line-gray);
}

.logo {
  text-decoration: none;
  p {
    @include body-lg-b;
    color: var(--color-black);
  }
}
